{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
